/* General */

.app {
  max-height: 100%;
}

.btn-primary {
  background-color: #085F63;
}

/* Navbar */
.bg-dark {
  background: linear-gradient(175deg, #085F63 45%, #00BFA6 125%);
}

.navbar-dark .navbar-brand {
  display: flex;
  align-content: center;
  margin-right: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.90);
  padding: 0.5rem 1.5rem;
}

/* Main structure */

.main-container {
  margin: 0;
  max-width: 100%;
}

.main-col {
  padding: 0;
}

.side-page {
  margin: 56px auto 0 auto;
  padding: 14px 28px;
}

/* Map */

.side-map {
  position: fixed;
  right: 0;
  width: 58.333%;
  z-index: -1;
}

.map-button {
  position: absolute;
  top: 70px;
  left: 28px;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .side-map {
    width: 100%;
  }
}

/* GroundList */

.card {
  margin: 15px 0;
}